version: "3.8"
services:
  user:
    build: ./services/user
    container_name: user-service
    depends_on: [postgres]
    restart: always
    environment:
      - CONFIG_PATH=/app/config/local.yaml
      - JWT_SECRET=${JWT_SECRET}
    ports: [8081:8081]
    networks: [bux]
    volumes: [./services/user/config/local.yaml:/app/config/local.yaml]
    develop:
      watch:
        - action: rebuild
          path: ./services/user
          target: /app
  investments:
    build: ./services/investment
    container_name: investment-service
    depends_on: [postgres]
    restart: always
    environment:
      - CONFIG_PATH=/app/config/local.yaml
      - JWT_SECRET=${JWT_SECRET}
    ports: [8083:8083]
    networks: [bux]
    volumes: [./services/investment/config/local.yaml:/app/config/local.yaml]
    develop:
      watch:
        - action: rebuild
          path: ./services/investment
          target: /app
  transaction:
    build: ./services/transaction
    container_name: transaction-service
    depends_on: [postgres]
    restart: always
    environment:
      - CONFIG_PATH=/app/config/local.yaml
      - JWT_SECRET=${JWT_SECRET}
    ports: [8082:8082]
    networks: [bux]
    volumes: [./services/transaction/config/local.yaml:/app/config/local.yaml]
    develop:
      watch:
        - action: rebuild
          path: ./services/transaction
          target: /app
  postgres:
    image: postgres:16
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: barghest
      POSTGRES_PASSWORD: barghest
      POSTGRES_DB: postgres
    ports: [5432:5432]
    volumes:
      [pgdata:/var/lib/postgresql/data, ./init:/docker-entrypoint-initdb.d]
    networks: [bux]
  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: barghest391@gmail.com
      PGADMIN_DEFAULT_PASSWORD: barghest
    networks: [bux]
    ports: [5050:80]
    depends_on: [postgres]
    volumes: [./pgadmin/servers.json:/pgadmin4/servers.json]

networks:
  bux:
    driver: bridge

volumes:
  pgdata:
  pgadmin-data:
